* {padding: 0;margin: 0;}
a {outline: none; text-decoration: none;}
a img {border: none;padding:0;margin:0;}
ul li { list-style: none;}
.clear {clear:both;}

@font-face {
    font-family: 'helvetica-NAL';
    src: url('../fonts/HelveticaNeueLTArabicRoman.eot');
    src: url('../fonts/HelveticaNeueLTArabicRoman.eot') format('embedded-opentype'),url('../fonts/HelveticaNeueLTArabicRoman.woff2') format('woff2'),url('../fonts/HelveticaNeueLTArabicRoman.woff') format('woff'),url('../fonts/HelveticaNeueLTArabicRoman.ttf') format('truetype'),url('../fonts/HelveticaNeueLTArabicRoman.svg#HelveticaNeueLTArabicRoman') format('svg');
}
html, body {
    min-height: 100%!important;
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Droid Arabic Kufi';
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 1.4;
}

form {
    display: block;
    margin-top: 0em;
}

.headerContent {
    box-sizing: border-box;
	padding: 0 45px;
}

.logo {
    margin-top: 5px;
	padding-left: 430px;
}

.logo, .logo a, .logo a img {
    display: inline-block;
    height: 81px;
    width: 274px;
}

.vision2030 {
    margin-top: 20px;
    margin-left: 30px;
}

.vision2030, .vision2030 img {
    height: 60px;
    width: 119px;
    float: left;
}

.content {
    margin-top: 30px;
    margin-right: 15px;
    padding: 10px 35px;
    font-size: 20px;
    color: black;
    background-color: whitesmoke;
}

#main {
    width: 100%;
    height: fixed;
}

form {
    display: block;
    margin-top: 0em;
    float: right;
    width:50%;
}

.reset {
    padding-right: 115px;
    margin-top: 60px;
}

input {
    border: 2px solid #ececec;
    box-sizing: border-box;
    clear: left;
    color: #333333;
    padding-right: 10px;
    z-index: 2;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(255,255,255,0);
    box-shadow: none;
    font-size: 13.333px;
    margin-top: 45px;
    width: 60%;
    height: 40px;
}

input[type="submit"] {
    text-align: center;
    padding: 0 !important;
    width: 30%;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #286090;
    border-color: #286090;
}

.info {
    background-color: whitesmoke;
    border-radius: 10px;
    border: 2px solid #e2e2e2;
    margin: 10px;
    margin-top: 50px;
    padding: 10px 20px;
    margin-left: 100px;
    width: 30%;
    overflow:hidden;
    line-height: 3;
    font-size: 14px;
    float: left;
}
