@model COCAS.Models.passwordresetVM
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
    <meta charset="UTF-8" />
    <title>password reset</title>
    <link rel="stylesheet" type="text/css" href="~/css/passwordreset/password_reset_Eng.css">
</head>
<body>
    <div class="headerContent">
        <div class="logo">
            <a href="">
                <img src="~/images/passwordreset/logo.png" title="Home page">
            </a>
        </div>
        <div class="vision2030">
            <img src="~/images/passwordreset/vision2030.png" title="Home page">
        </div>
    </div>

    <div class="content">
        <li>Change Password</li>
    </div>

    <div id="main">
        <form>
            <div asp-validation-summary="All"></div>
            <div class="reset">
                <input asp-for="Username" type="text" placeholder="username"> <span asp-validation-for="Username"></span> <br>
                <input asp-for="NewPassword" type="NewPassword" placeholder="New Password"> <span asp-validation-for="NewPassword"></span><br>
                <input asp-for="ConfirmNewPassword" type="ConfirmNewPassword" placeholder="Confirm New Password"> <span asp-validation-for="ConfirmNewPassword"></span> <br>
                <input type="submit" name="submit" value="Change Password">
                <a href="">Forget My Passowrd</a>
            </div>
        </form>

        <div class="info">
            <li>Password should be more than 8 characters </li>
            <li>Password should have at least one numbers (0-9)</li>
            <li>Password should have at least one Capital Letters </li>
            <li>Password should have at least one Small letters </li>
            <li>Password should have at least one of these symbols<br>( ~ ، ! ، @@ ، # ، $ ، % ، ^ ، & ، * ، ( ، ) ، _ ، + ، - )</li>
        </div>
    </div>
</body>
</html>