@model COCAS.Models.User

@{
    ViewData["title"] = "تسجيل الدخول";
}
<script>
    document.querySelector(".Logout").setAttribute("class", "hidden");
</script>
<div class="container-login login">
    <form id="loginForm" method="post">
        <span class="ERR_MSG">@ViewData["validate_username"]</span>
        <span class="ERR_MSG">@ViewData["validate_password"]</span>
        <div class="avatar">
            <img src="~/images/Login/avatar.png" height="66" width="66" border="0">
        </div>
        <div class="loginFeilds">
            <div class="input">
                <label asp-for="Username">
                    <img src="~/images/Login/username.png" height="16" width="22" border="0" style="padding-bottom: 3px;">
                    <span class="labelTxt">اسم المستخدم</span>
                </label>
                <input asp-for="Username" class="non-empty refresh" size="15">
            </div>
            <div class="input">
                <label asp-for="Password">
                    <img src="~/images/Login/password.png" height="16" width="22" border="0" style="padding-bottom: 3px;">
                    <span class="labelTxt">كلمة المرور</span>
                </label>
                <input asp-for="Password" class="non-empty refresh" size="15">
            </div>
            <script src="~/js/Login/form.js"></script>

            <div class="loginButton">
                <input type="submit" value="دخول" style="cursor: pointer">
            </div>
        </div>
    </form>
    <script>
        window.onload = function () {
            document.getElementsByClassName('refresh').value = '';
        }
    </script>
</div>