@model COCAS.Models.PasswordChangeViewModel

@{ 
    ViewData["title"] = "تغيير كلمة المرور";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/passwordchange/password_change_Ar.css">
</head>
<script>
    document.querySelector(".Logout").setAttribute("class", "hidden");
</script>
<div class="content">
    <li>تغيير كلمة المرور </li>
</div>

<div id="main">
    <form method="post">
        <div class="reset">
            <div asp-validation-summary="None">@ViewData["validation"]</div>
            <input asp-for="Username" value="@Model.Username" type="hidden"><br>
            <input asp-for="NewPassword" placeholder="كلمة المرور الجديدة">
            <span asp-validation-for="NewPassword"></span><br>
            <input asp-for="ConfirmNewPassword" placeholder="تأكيد كلمة المرور الجديدة">
            <span asp-validation-for="ConfirmNewPassword"></span><br>
            <input type="submit" name="submit" value="تغيير كلمة المرور">
        </div>
    </form>

    <div class="info">
        <li>طول كلمة المرور لا يقل عن 8 خانات</li>
        <li>لا بد أن تحتوي على الأقل على رقم (من 0-9)</li>
        <li>لابد أن تحتوي على حروف كبيرة (Capital Letters)</li>
        <li>لا بد أن تحتوى على حروف صغيرة (Small letters)</li>
        <li>لابد أن تحتوي على الأقل على رمز من هذه الرموز <br>( ~ ، ! ، @@ ، # ، $ ، % ، ^ ، & ، * ، ( ، ) ، _ ، + ، - )</li>
    </div>
</div>