@model COCAS.Models.UploadViewModel
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
    <meta charset="UTF-8" />
    <title>رفع الجداول</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap4.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body dir="rtl">
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <p>ارفع ملفات بامتداد 'csv.' فقط.</p>
                <input asp-for="Files" name="Files" type="file" accept=".csv" class="form-control-file" multiple required /><br /><br />
                <span asp-validation-for="Files"></span>
                <input type="submit" value="رفع الملفات" style="cursor: pointer">
            </div>
        </form>
        <script>
            window.onload = function () {
                document.getElementById('Files').value = '';
            }
        </script>
    </div>
</body>
